.header {
  background-color: #27163D;;
  color: #FFFFFF;
  padding: 1.2rem 2rem 0.8rem;
}

.header__brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header__logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.header__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color:#D6D0E5;
}