@use "./components/Applications/Applications.scss";
@use "./components/ApplicationForm/ApplicationForm.scss";
@use "./components/Applications/ApplicationCard/ApplicationCard.scss";

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #F4F6F8;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1;
  padding: 2rem;
}

@include mobile {
  .app {
    padding: 1rem;
  }
}